img{
    width: 250px;
    border-radius:50%;
 
}
.imgContainer{
    display:inline-block;
}
.matchContainer {
    text-align:center;
}
.messageContainer{
    display:block;
    text-align:center;
    padding: 20px;
    background-color: red;
    width:100%;
}
h2{
    font-family: 'Roboto Slab', Arial;
    color:white;
}
.charContainer{
    display:block;
    text-align:center;
    width:100%;
}
.charContainer p{
    display:inline;

}
