img{
	height: 350px;
	width: 500px;
}


html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
}

h3 {
	text-align: center;
}

.floating-block{
	display: inline-block;
	margin: 0 auto;
}
.floating-block img {
	width: 27% ;
	height: 36% ;
	margin: 3%;
}

